.header {
  background: #f9f9f9;
  padding-top: 15px;
  img{
    padding-left: 10px;
    max-height: 68px;
  }
  .column{
    padding: 0 !important;
  }
  .one.wide.column{
    i{
      font-size: 23px;
      color: #8f9099;
    }
  }
}