.header {
  background: #28536B;
  .router-link {
    display: inline-flex;
    padding: 0.25em 2em;
    margin: 1em;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fffffc;

    &:active {
      color: #F1A09D;
    }
  }
  img{
    max-height: 80px;
  }
}